body {
    background-color: #FDF0D5;
   margin: 0px;
   padding: 0px;
}

.header{
    display: flexbox;
    position: relative;
    height: 10%;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 10%;
    color: #e9c46a;
    background-color: #2a9d8f;
    font-size: 4rem;
    text-align: center;
    font-family: 'The Nautigal', cursive;
}


.fb:hover{
color: #4267B2;
cursor: grab;
}

.ig:hover{
    color: #fb3958;
    cursor: grab;
}

.header img{
    width: 30%;
    height: 30%;
   padding-bottom: 3%;
   margin-bottom: 10%;
}

.hero{
    display: flexbox;
    position: relative;
    height: 30%;
    width: 100%;
    font-size: 16px;
    font-family: 'Bakbak one', cursive;
}
.hero h1{
    text-align: center;
    font-size: 2rem;
}

.hero p{
    text-align: center;

    font-size: 1.5rem;
}

.hero img{
    display: flexbox;
    position: relative;
    max-height: 40%;
    margin-left: 30%;
    max-width: 40%;
   border-radius: 20%;
    margin-top: 5%;
}

.main{
    display: block-grid;
    height: 60%;
    width: 80%;
    position: relative;
    margin-top: 10%;
    text-align: center;
    font-family: 'Bakbak one', cursive;
    font-size: 16px;
}
.main button{
    background-color: #e9c46a;
    font-family: 'Bakbak one', cursive;
}

.main a{
    color: #2a9d8f;
}

.small{
    display: flexbox;
    position: relative;
    height: 20%;
    width: 70%;
    margin-left: 30%;
    background-color: white;
    border-radius: 2%;
    background-color: #2a9d8f;
    font-family: 'Bakbak one', cursive;
    grid-row-start: 1;
    grid-row-end: 3;
}

.small img{
    height: 50%;
    width: 100%;
    border-radius: 1%;
}

.med{
    display: flexbox;
    position: relative;
    width: 70%;
    height: 20%;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 2%;
    background-color: #2a9d8f;
    font-family: 'Bakbak one', cursive;
    grid-row-start: 1;
    grid-row-end: 3;
}

.med img{
    height: 50%;
    width: 100%;
    border-radius: 1%;
}

.contact{
    display: flexbox;
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 20%;
    text-align: center;
    font-family: 'Bakbak one', cursive;
}


.accordion {
    max-width: 800px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #e9c46a;
  }
  
  .accordion-title:hover {
    background-color: #2a9d8f;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #2a9d8f;
  }

