body {
    background-color: #370665;
}

.header{
    display: flexbox;
    position: relative;
    height: 10%;
    width: 100%;
    margin-top: 0;
    color: #F14A16;
    margin-bottom: 20px;
    padding-top: 2%;
    background-color: #FC9918;
    font: 70px;
    text-align: center;
    font-family: 'Bakbak one', cursive;
}

.hero{
    display: flexbox;
    position: relative;
    height: 30%;
    width: 100%;
    margin-top: 10%;
    font-size: 16px;
    font-family: 'Bakbak one', cursive;
}
.hero h1{
    text-align: center;
    font-size: 2rem;
}

.hero p{
    text-align: center;

    font-size: 1.5rem;
}

.hero img{
    display: flexbox;
    position: relative;
    max-height: 40%;
    margin-left: 30%;
    max-width: 40%;
   border-radius: 10%;
    margin-top: 5%;
}

.main{
    display: block-grid;
    height: 50%;
    width: 100%;
    position: relative;
    margin-top: 10%;
    text-align: center;
    font-family: 'Bakbak one', cursive;
    font-size: 16px;
}


.small{
    display: flexbox;
    position: relative;
    height: 40%;
    width: 40%;
    margin-left: 30%;
    background-color: white;
    border-radius: 12%;
    background-color: #35589A;
    font-family: 'Bakbak one', cursive;
    grid-row-start: 1;
    grid-row-end: 3;
}

.small img{
    height: 50%;
    width: 100%;
    border-radius: 11%;
}

.med{
    display: flexbox;
    position: relative;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 12%;
    background-color: #35589A;
    font-family: 'Bakbak one', cursive;
    grid-row-start: 1;
    grid-row-end: 3;
}

.med img{
    height: 50%;
    width: 100%;
    border-radius: 10%;
}

.contact{
    display: flexbox;
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 20%;
    text-align: center;
    font-family: 'Bakbak one', cursive;
}


.accordion {
    max-width: 800px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #FFC900;
  }
  
  .accordion-title:hover {
    background-color: #3ab4cc;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #00ADB5;
  }