body {
    background-color: #00ADB5;
    margin-top: 0px;
    margin-left: 0px;
}

.header{
    display: flexbox;
    position: absolute;
    height: 10%;
    width: 100%;
    size: 20%;
    color: #00FFF5;
    background-color: #222831;
    font: 70px;
    text-align: center;
    font-family: 'Bakbak one', cursive;
}


.hero{
    display: flexbox;
    position: absolute;
    height: 30%;
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    font-size: 20px;
    font-family: 'Bakbak one', cursive;
}
.hero h1{
    text-align: center;
    margin-left: 10px;
}

.hero p{
    text-align: center;
    margin-left: 20px;
}

.hero img{
    display: flexbox;
    position: absolute;
    height: 120%;
    width: 120%;
    border-radius: 50%;
    margin-top: 100px;
    border: solid;
}

.main{
    display: flexbox;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 60%;
    margin-left: 10%;
    text-align: center;
    font-family: 'Bakbak one', cursive;
}

.main h1{
    margin-left: 0%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.small{
    display: flexbox;
    position: absolute;
    height: 60%;
    width: 30%;
    border: solid;
    background-color: white;
    border-radius: 12%;
    background-color: #393E46;
    font-family: 'Bakbak one', cursive;
}

.small img{
    height: 50%;
    width: 75%;
    border-radius: 11%;
}

.med{
    display: flexbox;
    position: relative;
    width: 30%;
    height: 60%;
    margin-left: 40%;
    border: solid;
    background-color: white;
    border-radius: 12%;
    background-color: #393E46;
    font-family: 'Bakbak one', cursive;
}

.med img{
    height: 30%;
    width: 30%;
    border-radius: 10%;
}

.contact{
    display: flexbox;
    position: absolute;
    height: 300px;
    width: 100%;
    margin-top: 110%;
    text-align: center;
    font-family: 'Bakbak one', cursive;
}


.accordion {
    max-width: 800px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #222831;
  }
  
  .accordion-title:hover {
    background-color: #3ab4cc;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #00ADB5;
  }